# config file example
grpc_listen: 0.0.0.0:9090
log_console: true
#log_file: calendar.log
log_level: debug
# storage type
storage_type: database

# db settings
db:
  host: db
  port: 5432
  name: postgres
  user: postgres
  password: postgres

# rabbitmq settings
rabbitmq:
  host: mq
  port: 5672
  queue: nofifications
  user: guest
  password: guest
  retries: 5
